<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>

<body>
    <h1>All Files in /data Folder </h1>
    <a href="/">
        <button>Home</button>
    <br>

    <% for (let file of files) { %>
        <br>
        <a href="/data/<%= file %>" download>
            <%= file %>
        </a>
        <br>
        <% } %>
</body>

</html>