<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files</title>
</head>

<body>
    <h1>All Files in /data Folder </h1>
    <a href="/">
        <button>Home</button>
    </a>
    <br>
    <br>
    <h2>--------------------------</h2>
    <form method="POST" action="/upload-data" enctype="multipart/form-data">
        <div>
            <label>Select data for upload:</label>
            <input type="file" name="uploadData" multiple />
            <input type="submit" name="btn_upload_data" value="Upload" />
        </div>
    </form>

    <h2>--------------------------</h2>

    <% for (let file of files) { %>
        <br>
        <%= file %>
        <a href="/data/<%= file %>" download>
            <button>Download</button>
        </a>
        <br>
        <% } %>
</body>

</html>