h1 {
    font-size: 100px;
    text-align: center;
}

.Archer {
    color: OrangeRed;
}

.loginform {
    text-align: center;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}


.btn-outline-primary {
    color: OrangeRed;
    border-color: orangered;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: Orangered;
    border-color: orangered;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: orangered;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid orangered;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}